/* Las características de este body cambian las características del cuerpo de la página, se indican el tipo de fuente, margenes y color  */
body{
    font: 15px 'Calibri';
    margin: 0;
    padding: 0;
    background-color: lightblue;
}


/* Características que se le dan al header de la página, indicando método de visualización, color de fondo, tamaño,bordes */
header{
    display: flex;
    min-height: 100px;
    background-color: lightcyan;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    border-color: lightcoral;
}

/* Características de visualización de la imagen del header */
.logo{
    display: flex;
    align-items: center;
}

/* Características de visualización de la imagen del header, utilizando la clase*/
.logo img{
    height: 120px;
    margin-left: 10px;
}

/* Características que se le dan a la referencias del navegador */
nav a{
    font-weight: 600;
    padding-right: 10px;
}

/* Permite que al ubicar el cursor sobre la palabra se resalte con otro color*/
nav a:hover{
    color: lightcoral;
}

/* características que se le dan al footer de cada página, indicardo tipo de visualización, tamaño, color, bordes, alineación de texto */
footer{
    display: block;
    min-height: 100px;
    background-color: lightcyan;
    padding: 10px;
    border: 2px solid;
    border-color: lightcoral;
    text-align: center;
    
}

